@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    font-family: "Nunito ExtraLight";
} */

/* *{
    font-family: "Opens Sans";
} */

/* *{
    font-family: "Baloo 2";
} */

/* 
*{
    font-family: "Montserrat Thin";
} */

/* *{
    font-family: "Nunito Sans 12pt ExtraLight 12pt";
} */